/* Start Box */
.d-flex {
    display: flex;
}

.flex-w {
    flex-wrap: wrap;
}

.align-c {
    align-items: center;
}

.justify-c {
    justify-content: center;
}

.justify-s {
    justify-content: space-between;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}

@media(max-width:767px) {
    .d-block-mobile {
        display: block;
    }
}

/* End Box */
/* Start padding + margin */
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-15 {
    padding-bottom: 15px;
}

.m-0 {
    margin: 0px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}


/* End padding + margin */

/* End color */
/* Start color */
.c-blue {
    color: #0075ff;
}
.c-white{
    color: white;
}
.c-blue-alt {
    color: #0d69d5;
}

.c-orange {
    color: #f59e0d;
}

.c-green {
    color: #22c55e;
}

.c-red {
    color: #f44336;
}

.c-grey {
    color: #888;
}

.bg-blue {
    background-color: #0075ff;

}

.bg-blue-alt {
    background-color: #0d69d5;

}

.bg-orange {
    background-color: #f59e0d;
}

.bg-green {
    background-color: #22c55e;
}

.bg-red {
    background-color: #f44336;
}

.bg-grey {
    background-color: #888;
}

.bg-eee {
    background-color: #eee;
}

.bg-white {
    background-color: white;
}

.c-black {
    color: black;
}
/* Start Font */
.f-14 {
    font-size: 14px;
}
.f-17 {
    font-size: 17px;
}

.f-25 {
    font-size: 25px;
}
.f-35 {
    font-size: 35px;
}

.fw-b {
    font-weight: bold;
}

.txt-c {
    text-align: center;
}

.line-h {
    line-height: 1.6;
}

@media(max-width:767px) {
    .text-center-mobile {
        text-align: center;
    }
}

/* End Font */
/* Start Border */
.br-6 {
    border-radius: 6px;
}

.br-10 {
    border-radius: 10px;
}

.br-half {
    border-radius: 50%;
}

/* End Border */
/* Start position */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* End position */
/* Start Width + Height */
.max-width {
    max-width: 100%;
}

/*End Width + Height  */
/* start componant */
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* End componant */